@mixin arrow($direction, $size, $color) {
  content: ""; // ensures the arrows are visible

  // ensures the size of the arrows is correct:
  width: 0;
  height: 0;

  // Lists for positions/directions
  $directions: ('down', 'left', 'up', 'right');
  $positions: ('top', 'right', 'bottom', 'left');

  // Loop through each position
  @each $position in $positions {
    // Calculate the index of the position in the list
    $index: index($positions, $position);

    // If the position matches the direction, render a colored border
    @if nth($directions, $index)==$direction {
      border-#{$position}: $size solid $color;
    }

    @else {
      border-#{$position}: $size solid transparent;
    }
  }
}


@mixin arrow-line($direction, $width, $height, $border, $color) {
  
  display: block;
  width: $width;
  height: $height;
  border: $border;
  transform: rotate(45deg);
  @if $direction=='left' {
    border-color: $color $color transparent transparent;
  }
  @if $direction=='right' {
    border-color: transparent transparent $color $color;
  }
  @if $direction=='down' {
    border-color: transparent $color $color transparent;
  }
  @if $direction=='up' {
    border-color: $color transparent transparent $color;
  }

  
}