
.mouse-scroll-top{
    @include position("fixed", n, n, 30px, calc(50% - 40px));
    color: $color-white;
    text-align: center;
    font-size: pxtorem(12px);
    @include prefix(transition, all 2s ease);
    svg{
        path{
            fill: $color-white;
        }
    }
}
.light-on{
    
    .screen-1{
        .logo{
            svg{
                g{
                    fill: $color-black;
                }
                
            }
        } 
    
        .screen-1-inner{
            
            #light-bulb-svg {
                @include position("fixed", 30px, n, n, calc(100% - 80px));
                @include mq(medium) {
                    @include position("fixed", 50px, n, n, calc(100% - 160px));
                }
                width: 80px;
                height: 80px;
                margin: 0;
                path{
                    &.light-bulb-path{
                        stroke: $color-black;
                    }
                    &.light-path{
                        fill: $color-black;
                    }
                }
                
            }
        }
    }

    .mouse-scroll-top{
        @include position("fixed", n, n, 30px, 40px);
        svg{
            path{
                fill: $color-black;
            }
        }
        display: none;
        @include mq(medium) {
            display: block;
        }
    }
    
}



.screen-1{
    width: 100%;
    height: 100vh;
    // @include position("fixed", 0, n, n, 0);
    overflow-y: scroll;
    .logo{
        @include position("fixed", 30px, n, n, 30px);
        @include mq(medium) {
            @include position("fixed", 60px, n, n, 60px);
        }
    } 
    .screen-1-inner{
        height: 3000px;
        @include prefix(transition, all 2s ease);
        #light-bulb-svg {
            @include position("fixed", 50%, n, n, 50%);
            width: 200px;
            height: 200px;
            margin: -100px 0 0 -100px;
            @include prefix(transition, all 2s ease);
            cursor: pointer;
        }
    }

    
}

.me-box{
    border: 1px solid $color-black;
    padding: 20px;
    border-radius: 16px;
    margin: 0 20px;
    background-color: $color-white;
    @include mq(medium) {
        width: 750px;
        margin: 0 auto;
    }
    .me-name{
        color: $color-gray7;
    }
    .me-job{
        font-weight: 700;
        font-size: pxtorem(28px);
    }
}
.me-project{
    .me-project-title{
        font-size: pxtorem(42px);
        font-weight: 700;
        margin-bottom: 10px;
    }
    .me-project-content{
        
        @include mq(medium) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__info{
           
            margin-bottom: 20px;
            @include mq(medium) {
                width: 40%;
            }
            &__title{
                font-weight: 700;
            }
            &__des{
                margin-bottom: 20px;
            }
            &__link{
                margin: 10px auto;
                text-align: center;
                a{
                    display: inline-block;
                    border: 1px solid $color-black;
                    padding: 10px;
                    font-size: pxtorem(13px);
                    text-decoration: none;
                    border-radius: 5px;
                    &:hover{
                        background-color: $color-black;
                        color: $color-white;
                    }
                }
            }
        }
        &__image{
            @include mq(medium) {
                width: 55%;
            }
            a{
                text-align: center;
                display: block;
            }
        }
    }
}

.me-contact-box{
    .me-contact{
        font-weight: 700;
        font-size: pxtorem(28px);
    }
}
  





